
streamlit==1.35.0
fastapi==0.110.2
uvicorn==0.29.0
requests==2.31.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.22.0


statsmodels==0.14.0

xgboost==2.0.3
lightgbm==4.3.0
catboost==1.2.5

mlflow==2.12.2

python-multipart==0.0.9

jupyterlab==4.2.1

pydantic==1.10.15
